<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|uiMode"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Support Share to TeraStream -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- Support Deep Links for common TeraBox domains to show in "Open with" -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="terabox.com" />
                <data android:host="www.terabox.com" />
                <data android:host="terabox.app" />
                <data android:host="www.terabox.app" />
                <data android:host="teraboxapp.com" />
                <data android:host="www.teraboxapp.com" />
                <data android:host="nephobox.com" />
                <data android:host="www.nephobox.com" />
                <data android:host="mirrobox.com" />
                <data android:host="www.mirrobox.com" />
                <data android:host="4funbox.com" />
                <data android:host="www.4funbox.com" />
                <data android:host="1024tera.com" />
                <data android:host="www.1024tera.com" />
                <data android:host="terasharelink.com" />
                <data android:host="www.terasharelink.com" />
                <!-- Matches path formats, with or without /s/ prefix -->
                <data android:pathPrefix="/" />
            </intent-filter>
        </activity>
    </application>

</manifest>
